/*
    color scheme:
    #FAC3C3 - lys rosa (header og footer baggrundsfarve)
    #A100C3 - mørk lilla (knapper baggrundsfarve)
    #58006a - meget mørk lilla (knapper hover baggrundsfarve)
    #E56868 - mellem rød (nav hover farve og border farve)
    #000000 - sort (tekst farve)
*/

*{
    box-sizing: border-box;
    margin: 0;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation */

header{
    background-color: #FAC3C3;
    padding: 2em;
    display: block;
}

nav ul{
    padding-top: 0.5em;
    padding-bottom: 1em;
    float: right;
    
}

nav li{
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: flex-start;
}


li a {
    color: black;
    text-decoration: none;
}

li a:hover{
    color: #ffffff;
}

.logo{
    width: 80px;
    margin-right: 13em;
}

header > nav {
        display: none; /* skjuler nav-elementet i mobil-versionen */
}

header{
        display: flex;
        justify-content: flex-end;
}

.show {
        display: block;
        position: absolute;
        top: 141px;
        left: 0;
        background-color: #E56868;
        width: 100%;
        padding: 2em;
}

button#bars {
    background-color: transparent;
    border: none;
    font-size: xx-large;
    color: #000000;
}

/* Forside hovedinhold */

.forsidebillede-img{
    width: 100%;
    display: block;
    margin: 0;
}

h1{
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0.5em;
}

/* Hvad er mentalt sundhed? section */

h2{
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5em;
    padding-top: 1.5em;
    text-align: center;
}

.følelser-img{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 1em;
}

.mentalt-sundhed{
    margin: 0 5%;
}

.mentalt-sundhed p{
    margin: 1em 0;
}

.link1{
    background-color: #A100C3;
    color: white;
    padding: 1.5em 5em;
    display: inline-block;
    margin: 1em 5%;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 2.9em;
    text-align: center;
}

a.link1:hover{
    background-color: #58006a;
}

.midt-forside{
    width: 100%;
    margin-top: 0.5em;
}

/* Gode råd som styrker mentalt sundhed section*/

.huskeregler{
    margin: 0 5%;
}

.huskeregler p{
    margin: 0.5em 0;
}

.link{
    background-color: #A100C3;
    color: white;
    padding: 1em 3em;
    display: inline-block;
    margin: 1em 5%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

a.link:hover{
    background-color: #58006a;
}

.link2{
    background-color: #A100C3;
    color: white;
    padding: 1em 5em;
    display: inline-block;
    margin: 1em 5%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-left: 2.9em;font-size: large;
}

a.link2:hover{
    background-color: #58006a;
}

.insideout-img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 1em;
}

.paws-img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 1em;
    margin-top: 2em;
}

/* Hunde og deres effekt section */

.hunde{
    margin-bottom: 2em;
}

.hunde p{
    margin: 1em 5%;
}   

/* Footer */

html, body{
    height: 100vh;
}

footer{
    background-color: #FAC3C3;
    color: #000000;
    padding: 2em;
    
}

.logo1{
    width: 100px;
    justify-content: left;
}

.footer-info{
    text-align: left;
    font-size: small;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-right: 1.5em;
    gap: 1em;
}

.copyright{
    text-align: right;
    margin-right: 1em;
    font-size: x-small;
}

/* Forside desktop */

@media screen and (min-width:769px) {

    header{
    background-color: #FAC3C3;
    padding: 2em;
    display: block;
}
    header > nav {
    display: block;
}

.logo{
    width: 80px;
    margin-right: 20em;
}
    
    #bars {
    display: none;
}
    
    nav ul{
    display: flex;
    justify-content: right; /*Her kan du ændre hvor menuen skal være*/
}  

li a:hover{
    color: #E56868;
}

    .forsidebillede-img{
    width: 100%;
    display: block;
    margin: 0;
}

h1{
    color: black;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

/* Hvad er mentalt sundhed? section desktop */

.overskrift{
    color: black;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5em;
    padding-top: 5em;
    text-align: center;
    display: flex;
    justify-content: right;
    padding-left: 1em;
    padding-right: 5em;
}

.mentalt-sundhed-sektion{
    display: flex;
    gap: 0;
    align-items: center;
    font-size: x-large;
    margin: 0;
}

.følelser-img{
    width: 50%;
    padding-left: 2em;
    padding-bottom: 2em;
    margin: 1em;
}

.link1{
    padding: 2.5em 2.5em;
    margin: 5em 20em;
    text-align: center;
    align-items: center;
    display: block;
    margin-bottom: 4em;
    font-size: larger;
}

/* Gode råde som stryker mentalt sundhed section desktop */

h2{
    color: black;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em;
    padding-top: 2em;
    text-align: center;
    display: flex;
    justify-content: left;
    padding-left: 1em;

}

h3{
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 2em;
}

.mentalt-sundhed-sektion2 {
   display: flex;
    column-gap: 1em;
}

.mentalt-sundhed-sektion2 div p{
    line-height: 1.5;
    order: 2;
    font-size: larger;
    flex-direction: column-reverse;
}

.mentalt-sundhed-sektion2 p{
  width: 90%;
    line-height: 1.5;
    order: 2;
    font-size: larger;
}

.mentalt-sundhed-sektion2 img{
    width: 40%;
    order: 1;
    margin-right: 2em;
    height: 650px;
}

.link{
    padding: 1.5em 3em;
    margin: 5em 20em;
    text-align: center;
    align-items: center;
    display: block;
    font-size: larger;
}

/* Hunde og deres effekt section desktop */

.hunde p{
    margin: 1em 12em;
    font-size: larger;
}

.effekt{
    color: black;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em;
    padding-top: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 1em;
}

.link2{
    padding: 2.5em 2.5em;
    margin: 5em 20em;
    text-align: center;
    align-items: center;
    display: block;
    margin-bottom: 4em;
    font-size: larger;
}

.logo1{
    width: 120px;
    padding: 0.5em;
}

.footer-info{
    text-align: left;
    font-size: small;
    display: flex;
    justify-content: left;
    margin: 0;
    column-gap: 18em;
    padding-bottom: 1em;
}

/* footer */

.footer-info p{
    margin: 0.5em;
}

.copyright{
    text-align: right;
    margin-right: 1em;
    font-size: x-small;
}

}


/* Hunde og deres effekt hovedindhold */

body{
    background-color: #ffffff;
}

.servicehundillustration{
    width: 100%;
    display: block;
    margin: 0;
}

/* Servicehund section*/

h1{
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0.5em;
}

.servicehund-tekst{
margin-bottom: 2em;
}

.servicehund-tekst p{
    margin: 1em 5%;
}
 
/* To Servicehunde section */

h2{
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5em;
    padding-top: 1.5em;
    text-align: center;
}

/* Agnes og Mathilde section */

.to-servicehunde{
    margin: 0 5%;
    text-align: center;
    border-bottom: 3px #E56868 solid;
    padding-bottom: 1em;
    margin-bottom: 3em;
}

.to-servicehunde p{
    margin: 1em 0;
    text-align: left;
}


.to-servicehunde img{
   width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 1em; 
}

/* Cecilia og Alice section */

.to-servicehunde-tekst{
    margin: 0 5%;
    text-align: center;
     border-bottom: 3px #E56868 solid;
    padding-bottom: 1em;
    margin-bottom: 3em;
}

.to-servicehunde-tekst p{
    margin: 1em 0;
    text-align: left;
}

.to-servicehunde-tekst img{
   width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-bottom: 1em;
}

/* Video fra Team Servicehunden Danmark */

.team-servicehunden-danmark{
    margin: 2em 5%;
    text-align: center;
}

video{
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

/* Hunde og deres effekt desktop */

@media screen and (min-width:769px) {

    /* Servicehund section desktop */

    .servicehund-tekst{
    margin: 0 15%;
    margin-bottom: 3em;
    }

    /* To Servicehunde section desktop */

   .servicehunde{
    color: black;
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em;
    padding-top: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 1em;
    padding-right: 5em;
   }

   /* Mathilde og Agnes section desktop */

   .to-servicehunde{
    display: flex;
    gap: 1em;
   }

   .to-servicehunde div{
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: large;
    margin: 0;
    flex-direction: column;
   }

   .to-servicehunde img{
    width: 50%;
    padding-left: 2em;
    padding-bottom: 2em;
    margin: 1em;
   }

   /* Cecilia og Alice section desktop */

   .to-servicehunde-tekst{
    display: flex;
    column-gap: 1em;
   }

   .to-servicehunde-tekst div{
    line-height: 1.5;
    order: 1;
    font-size: larger;
    flex-direction: column-reverse;
   }

   .to-servicehunde-tekst img{
    width: 50%;
    order: 2;
    margin-right: 2em;
    column-gap: 1em;
   }

   /* Team Servicehunden Danmark section desktop */

   .team-servicehunden-danmark{
    margin: 5em 38%;
    text-align: center;
   }

}


/* Kontakt side */

/* Kontakt information */

h1{
    color: black;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0.5em;
}

.kontaktinfo{
    margin: 2em 5%;
    text-align: center;
}

.kontaktinfo p{
    text-align: center;
}

.telefonicon{
    width: 30%;
}

.mailicon{
    width: 25%;
    margin-bottom: 2em;
}

.tekst-til-kontakt{
    margin: 2em 5%;
    text-align: left;

}

/* Kontaktform */

.kontaktform{
    border-radius: 5px;
    background-color: #E56868;
    padding: 1.3em;
    width:90%;
    margin: 0 5%;
}

input[type=text], input[type=email], input[type=tel], textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

input[type=checkbox], input[type=radio], input[type=submit]{
    cursor: pointer;
}

fieldset{
    border-color: #000000;
    margin-bottom: 0.8em;
}

input[type=checkbox]{
    margin: 0.8em 0;
}

input[type=submit]{
    background-color: #ffffff;
    color: #000000;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 18px;
}

input[type=submit]:hover{
    background-color: #FAC3C3;
}

::placeholder{
    color: #333;
}

.visually-hidden{
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Om Os */

.omos{
    margin: 2em 5%;
    text-align: left;
}

.sidstebillede{
    width: 100%;
    display: block;
    margin: 0;
}

/* Kontakt side desktop*/



@media screen and (min-width:769px){
    
.kontakt{
    display: flex;
    gap: 1;
    justify-content: center;
}

.kontakt div h2{
    padding-left: 10em;
}

.kontaktinfo h2{
    padding-left: 26em;
}

.kontaktinfo{
    padding-bottom: 3em;
}

.kontaktform{
    border-radius: 5px;
    background-color: #E56868;
    padding: 1.3em;
    width:50%;
    margin: 0 auto;
}

.omos{
    padding-left: 15em;
    padding-right: 15em;
}

.omos h2{
    padding-left: 15em;
}

}